<link href="loot-sheet.css" rel="stylesheet" type="text/css">
<table class="loot-sheet">
<% data.forEach(boss => { %>
    <th class="boss" colspan="30"><%= boss._id %></th>    
    <% boss.items.forEach(item => { %>
        <tr>
            <td class="item"><%= item.name %></td>
            <% item.reserves.forEach(reserve => { %>
                <td><%= reserve.character %>: <%= reserve.modifier %></td>
            <% }); %>
        </tr>
    <% }) %>
<% }) %>
</table>